.titlebar .right .titlebutton,
.titlebar .left .titlebutton {
	color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
  box-shadow: none;
	border: none;
}

.titlebar .titlebutton,
.titlebar .titlebutton:backdrop,
.titlebar .titlebutton:backdrop:hover,
.titlebar .titlebutton:active,
.titlebar .titlebutton:hover {
	border: none;
	box-shadow: none;
}

/* Evopop style */
.titlebar .button.titlebutton {
  padding: 8px;
  padding-left: 4px;
  padding-right: 4px;
}


/* Set correct layout with
	gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <':minimize,maximize,close'>}" for buttons on the right
	or
	gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <'close,maximize,minimize:'>}"
	for buttons on the left */

/* minimize */
.titlebar .left .titlebutton:nth-child(2) {
	background-image: url('window-controls/min.svg');
}

.titlebar .left .titlebutton:nth-child(2):backdrop {
	background-image: url('window-controls/min_unfocused.svg');
	-gtk-image-effect: dim;
}

.titlebar .left .titlebutton:nth-child(2):hover {
	background-image: url('window-controls/min_prelight.svg');
}

.titlebar .left .titlebutton:nth-child(2):active {
	background-image: url('window-controls/min_pressed.svg');
}

/* close */
.titlebar .left .titlebutton:first-child {
	background-image: url('window-controls/close.svg');
}

.titlebar .left .titlebutton:first-child:backdrop {
	background-image: url('window-controls/close_unfocused.svg');
	-gtk-image-effect: dim;
}

.titlebar .left .titlebutton:first-child:hover {
	background-image: url('window-controls/close_prelight.svg');
}

.titlebar .left .titlebutton:first-child:active {
	background-image: url('window-controls/close_pressed.svg');
}


/* maximize */
.titlebar .left .titlebutton:nth-child(3) {
	background-image: url('window-controls/maximize.svg');
}

.titlebar .left .titlebutton:nth-child(3):backdrop {
	background-image: url('window-controls/maximize_unfocused.svg');
	-gtk-image-effect: dim;
}

.titlebar .left .titlebutton:nth-child(3):hover {
	background-image: url('window-controls/maximize_prelight.svg');
}

.titlebar .left .titlebutton:nth-child(3):active {
	background-image: url('window-controls/maximize_pressed.svg');
}
