.dynamic-notebook .notebook tab,
.dynamic-notebook .notebook tab:hover {
  border-right: 1px solid @unfocused_borders;
}

.dynamic-notebook .notebook {
  border-top: none;
}

.dynamic-notebook .notebook:backdrop {
  background: @theme_unfocused_bg_color;
}

MarlinViewChromeTopMenu.header-bar > MarlinViewChromeLocationBar > .marlin-pathbar {
    border: 1px solid alpha (@borders, 0.9);
}
